/*body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}
*/

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#profileimage {
    cursor: pointer;

     width: 100px;
    height: 100px;
  border:2px solid #03b1ce ;}
  .tital{ font-size:16px; font-weight:500;}
   .bot-border{ border-bottom:1px #f8f8f8 solid;  margin:5px 0  5px 0}

.col-centered{
float: none;
margin: 0 auto;
}
.form-signin input {
  width:300px !important;
}
#get_start{display:none;}
.dwn
{
	height:40px;
	width:40px;
}
table *
{
text-align:center !important;	
}
#resultdata_paginate a
{
cursor:pointer;
height:40px;
margin:0px 2px;
padding:5px 5px;
font-size:18px;
border:1px solid black;
position:relative;	
background:lightgreen;
}
#pbar
{
	display:none;
	margin-top:10px;	
}